input:invalid {
    box-shadow: none;
    border-bottom: 1px dashed #faa;
}

input {
    transition: ease-in 1s;
}

input.ng-invalid {
    border-bottom: 1px dashed #faa;
}

input.ng-valid {
    background-color: transparent;
}