<ion-view title="Einstellungen">
  <ion-content class="has-header" scroll="true" overflow-scroll="true">
    <ul class="list">
      <!--li><a class="item" href="#/tab/settings/notifications">Benachrichtigungen <i class="item-note icon ion-chevron-right"></i></a></li>
      <li><a class="item" href="#/tab/settings/autorefresh">Automatisch aktualisieren <i class="item-note icon ion-chevron-right"></i></a></li>
      <li><a class="item" href="#/tab/settings/warnings">Kontowarnungen <i class="item-note icon ion-chevron-right"></i></a></li>
      <!--li><a class="item" href="#/tab/settings/datatransfer">Datenübertragung <i class="item-note icon ion-chevron-right"></i></a></li-->
      <li class="item">Build {{buildNumber}}</li>
    </ul>
  </ion-content>
</ion-view>
