<ion-view title="Neues Konto">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">Back</ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="has-header padding">
    <form>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Benutzerkennung</span>
          <input type="text" ng-model="bank.user" placeholder="Benutzerkennung" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">PIN</span>
          <input type="password" ng-model="bank.pin" placeholder="PIN" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Bankleitzahl</span>
          <input type="tel" ng-model="bank.blz" required pattern="[0-9]{8}" placeholder="Bankleitzahl">
        </label>
      </div>
      <div class="padding">
        <p ng-show="error" class="item item-text-wrap assertive">{{error}}</p>
        <button type="button" class="button-positive button-block button" ng-click="addBank()" ng-disabled="loading"><i class="icon ion-loading-c" ng-show="loading"></i>Hinzufügen</button>
      </div>
    </form>
  </ion-content>
</ion-view>
