<script id="modal-welcome.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Willkommen bei Zasta!</h1>
    </ion-header-bar>
    <ion-content class="padding">
      <p>Damit deine Daten sicher sind benötigst du ein Passwort zur Verschlüsselung deiner Daten auf diesem Gerät - bitte wähle deshalb <strong>ein sicheres Passwort</strong></p>
      <p>Ein gutes Passwort sollte mindestens 6 Zeichen haben und Zahlen und Sonderzeichen enthalten</p>

      <div class="card">
        <div class="item item-divider assertive">Wichtiger Hinweis:</div>
        <p class="padding">Merke dir dein Passwort gut, denn wenn du es vergisst können deine Daten <strong>nicht mehr entschlüsselt werden</strong>!</p>
      </div>

      <p>Nach dem Einrichten des ersten Bankkontos kannst du dein Passwort einrichten.</p>

      <button class="button button-block button-positive" ng-click="go()">Ein Konto hinzufügen</button>
    </ion-content>
  </ion-modal-view>
</script>

<ion-view title="Überblick">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon" ng-class="refreshing ? 'ion-refreshing' : 'ion-refresh'" ng-click="refresh()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header" scroll="true" overflow-scroll="true">
    <ul class="list">
      <li class="item" ng-repeat="account in accounts track by account.name" ng-class="(account.type == 'Bank' ? 'item-divider' : 'item')">{{account.name}} <span class="badge" ng-class="account.balance < 0 ? 'badge-assertive' : 'badge-positive'" ng-show="account.type == 'Account'">{{account.balance}}</span></li>
    </ul>
  </ion-content>
</ion-view>
